<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}" layout:fragment="section">
<section>
	<div class="wrap">
		<div class="nav">
			<p><a onclick="getInfo()">홈</a></p>
			<p onclick="getHighlight()">북마크 관리</p>
			<p><a onclick="getBook('A_0')">서적 관리</a></p>
			<p><a th:href="@{/logout}">로그아웃</a></p>
		</div>
	</div>
	
	<div class="contents"></div>
</section>
<script th:src="@{/js/admin.js}"></script>
</html>