<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}" layout:fragment="section">
<style>
	/* h3 {color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.3);margin: 0 0 15px 0;text-align: center;} */
	.nav p {cursor: default;}
	.nav p:hover {text-decoration: none;}
	#form button:hover {background-color: #333;color: #fff;cursor: pointer;}
</style>
<section>
	<div class="login-wrap">
		<div class="contents">
			<div class="wrap">
				<div class="nav">
					<p>북로그 관리자 페이지</p>
				</div>
			</div>
		
			<form id="form" method="POST" action="login">
				<input type="text" id="id" name="id" placeholder="아이디">
				<input type="password" id="pwd" name="pwd" placeholder="패스워드">
				<button onclick="return login()">로그인</button>
			</form>
		</div>
	</div>
</section>
<script th:src="@{/js/index.js}"></script>
</html>