@charset "UTF-8";
@font-face {font-family: 'BookkMyungjo-Bd';src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');font-weight: 700;font-style: normal;}
* {font-family: 'BookkMyungjo-Bd';}
body {background: url('/image/img-background.jpg') no-repeat center center fixed;background-size: cover;margin: 0;height: 100vh;}
a {text-decoration:none;}
p,span,tr,td {font-size:13px;}
h4 {padding:25px;display:inline;}
section {box-sizing: border-box;display: flex;justify-content: center;padding: 20px;flex-wrap: wrap;}
.wrap {width: 100%;display: flex;justify-content: center;margin-bottom: 20px;}
.highlight-wrap, .highlight-wrap.first, .nav {box-sizing: border-box;width: 300px;background-color: rgba(255, 255, 255, 0.7);padding: 20px;}
.highlight-wrap, .highlight-wrap.first p {color: #000;font-size: 14px;letter-spacing: 0.05em;line-height: 1.4;text-shadow: 1px 1px 3px rgba(0,0,0,0.1);}
.highlight-wrap.first {background-color: #000;}
.highlight-wrap.first p {color: #fff;text-shadow: 1px 1px 1px rgba(0,0,0,0.1);}
.highlight {font-size: 1rem;}
.author {margin-top: 10px;text-align: end;font-size: 11px !important;}
.nav {display: flex;justify-content: center; padding: 5px;}
.nav p {color: #000;margin: 0 5px;}
.nav p:hover {text-decoration: underline;}