@charset "UTF-8";
@font-face {font-family: 'BookkMyungjo-Bd';src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');font-weight: 700;font-style: normal;}
body {background: url('/image/img-background.jpg') no-repeat center center fixed;background-size: cover;margin: 0;height: 100vh;}
a {text-decoration:none;}
p,span,tr,td {font-size:13px;}
h4 {padding:25px;display:inline;}
section {box-sizing: border-box;display: flex;justify-content: center;padding: 20px;flex-wrap: wrap;}
.wrap {width: 100%;display: flex;justify-content: center;margin-bottom: 20px;}
.highlight-wrap {box-sizing: border-box;width: 300px;background-color: rgba(0, 0, 0, 0.7);padding: 20px;}
.highlight-wrap p {color: #fff;font-size: 14px;font-family: 'BookkMyungjo-Bd';letter-spacing: 0.05em;line-height: 1.4;text-shadow: 1px 1px 3px rgba(0,0,0,0.7);}
.author {margin-top: 10px;text-align: end;font-size: 11px !important;}